body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
label {
    display: block;
    margin-bottom: 8px;
}

.hidden {
  display: none;
  }

.back-button {
  font-family: Arial, sans-serif;  
  font-size: 16px;
  margin-top: 20px;
  text-decoration: none;
  color: #1d04fd;
  padding: 5px 10px;
  border: 1px solid #1d04fd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
  background-color: #333333;
  color: #ffffff;
}

.back-button-container {
  margin-top: 50px;
}