h1 {
    font-family: Arial, sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
  }

.back-button {
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #333333;
    padding: 5px 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
  background-color: #333333;
  color: #ffffff;
}
